body{
    background-color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 20px;
}

h1, h2{
    color: gray;
    text-align: center;
}

p{
    font-family: monospace;
    color: #817f7f;
}

span{
    font-size: medium;
    font-weight: bold;
}

.marco{
    border:10px dotted #817f7f;
    padding: 10px;
    margin-bottom: 20px;
}

img{
    margin: 0 auto;
    width: 100%;
}

ul{
    list-style: lower-greek;
    padding-left: 20px;
}

li{
    margin: 5px;
    color: #817f7f;
}

footer{
    margin-top: 20px;
    padding: 10px;
    background-color: red;
    color: white;
    text-align: center;
}

button{
    background-color: #000000;
    color:white;
    border: none;
    padding: 5px 8px;
    text-align: center;
    font-size: 14px;
    border-radius: 20px;
    cursor: pointer; 
}

button:hover{
    background-color: #fefefe;
    color:rgb(0, 0, 0);
    border: 2px solid gray;
    padding: 5px 8px;
    text-align: center;
    font-size: 14px;
    border-radius: 20px;
    cursor: pointer;
}

button:active{
    background-color: black;
    color:blue;
    border: 2px solid gray;
    padding: 5px 8px;
    text-align: center;
    font-size: 14px;
    border-radius: 20px;
    cursor: pointer;
}